<html>
  <head>
    <style>
      body {
        background-color: #f1beebfd; /* pastel pink */
        text-align: center;
        margin-top: 10%; /* 25% margin above the content */
      }
      .container {
        background-color: #f1e2a3; /* light yellow */
        padding: 20px;
        border-radius: 10px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <a href="{{ download_url }}"><img src="data:image/png;base64,{{ image }}" alt="Generated Image"></a>
      <!-- <a href="{{ download_url }}">Download Image</a> -->
      <!-- <a href="{{ download_url }}"><img src="{{ url_for('mosaic_route', task_id=task_id) }}" alt="mosaic_route"></a> -->
    </div>
  </body>
</html>
